* {
  font-family: "Roboto", sans-serif; }

header {
  position: relative; }

nav {
  height: 50px;
  background: #212121; }

.hamburger {
  display: none; }

.menu {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 13px 70px;
  list-style: none; }
  .menu .menu_link {
    color: #ffffff;
    font-size: 15px;
    font-weight: 300;
    text-decoration: none; }
  .menu .menu_item {
    border-right: 2px dotted black;
    padding-right: 28px; }

.subheader {
  position: absolute;
  width: 100%;
  height: 84px;
  background-color: rgba(0, 0, 0, 0.6); }
  .subheader .subheader_logo {
    display: block;
    max-width: 100%;
    margin-top: 16px; }
  .subheader .subheader_official {
    color: white;
    font-size: 13px;
    font-weight: 400;
    opacity: 0.5;
    margin-top: 6px; }
  .subheader .subheader_call {
    color: white;
    font-size: 12px;
    font-weight: 300;
    margin-top: 19px;
    text-align: right; }
  .subheader .subheader_phone {
    display: block;
    margin-top: 8px;
    color: white;
    font-size: 22px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: right;
    line-height: 12px;
    border: none;
    text-decoration: none; }
  .subheader .subheader_btn {
    margin-top: 19px;
    width: 172px;
    height: 46px;
    box-shadow: inset 0 -3px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1EACC7 0%, #4ce2ff 100%);
    color: white;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase; }
    .subheader .subheader_btn:hover {
      background-image: none;
      background-color: #1EACC7; }
  .subheader .xs-visible {
    display: none; }

.promo {
  min-height: 920px;
  background: url(../img/Bg/uber_bg.jpg) center center/cover no-repeat;
  padding: 150px 0px 135px 0; }
  .promo .promo_header {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 70px;
    line-height: 60px;
    margin: 0;
    text-align: center; }
  .promo .promo_subheader {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    margin-top: 40px;
    text-align: center; }
  .promo .promo_descr {
    color: white;
    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
    text-align: center;
    margin-top: 40px; }
  .promo .promo_btn {
    display: block;
    margin: 180px auto 0 auto;
    width: 259px;
    height: 63px;
    box-shadow: inset 0 -4px 0 rgba(0, 0, 0, 0.12);
    border: none;
    border-radius: 4px;
    background-image: linear-gradient(to top, #1EACC7 0%, #4ce2ff 100%);
    color: white;
    font-size: 19px;
    font-weight: 400;
    text-transform: uppercase; }
    .promo .promo_btn:hover {
      background-image: none;
      background-color: #1EACC7; }

.reason {
  padding: 20px 0 66px 0; }
  .reason_blok {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 35px; }
  .reason_around {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 116px;
    height: 116px;
    background: #1EACC7;
    border-radius: 100%;
    margin-right: 26px; }
  .reason_descr {
    width: 343px; }
    .reason_descr_title {
      line-height: 21px;
      color: #1EACC7;
      font-size: 17px;
      font-weight: 400; }
    .reason_descr_subtitle {
      color: #202020;
      font-size: 15px;
      font-weight: 300;
      line-height: 21px; }
  .reason .label {
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase; }
  .reason .title {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }

.mobile {
  min-height: 864px;
  padding: 48px 0 79px 0;
  background: url("../img/Bg/mobile_bg.png") center center/cover no-repeat; }
  .mobile .row {
    margin-top: 32px; }
  .mobile .labell {
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center; }
  .mobile .title {
    margin-bottom: 0;
    margin-top: 38px;
    color: #222222;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }
  .mobile .subtitle {
    margin-top: 19px;
    color: #222222;
    font-size: 17px;
    font-weight: 400;
    text-align: center; }
  .mobile_item {
    position: relative;
    width: 320px;
    height: 280px;
    margin: 0 auto;
    margin-bottom: 19px;
    padding-top: 92px; }
    .mobile_item_1 {
      background: url("../img/Bg/mobile_bg/screen1.jpg"); }
    .mobile_item_2 {
      background: url("../img/Bg/mobile_bg/screen2.jpg"); }
    .mobile_item_3 {
      background: url("../img/Bg/mobile_bg/screen3.jpg"); }
    .mobile_item_4 {
      background: url("../img/Bg/mobile_bg/screen4.jpg"); }
    .mobile_item_5 {
      background: url("../img/Bg/mobile_bg/screen5.jpg"); }
    .mobile_item_6 {
      background: url("../img/Bg/mobile_bg/screen6.jpg"); }
    .mobile_item_subtitle {
      color: #ffffff;
      font-size: 24px;
      font-weight: 400;
      text-transform: uppercase;
      text-align: center; }
    .mobile_item_plus {
      display: flex;
      justify-content: center;
      align-items: center;
      position: absolute;
      bottom: 35px;
      left: 50%;
      transform: translateX(-50%);
      width: 26px;
      height: 26px;
      margin: 0 auto;
      background-color: #000000;
      border-radius: 100%;
      cursor: pointer; }
      .mobile_item_plus:before {
        content: "";
        display: block;
        width: 14px;
        height: 2px;
        background-color: #1EACC7;
        transition: 0.3s all; }
      .mobile_item_plus:after {
        position: absolute;
        transform: translateX(-50%);
        left: 50%;
        content: "";
        display: block;
        width: 2px;
        height: 14px;
        background-color: #1EACC7;
        transition: 0.3s all; }
      .mobile_item_plus:hover:after, .mobile_item_plus:hover:before {
        background-color: #FF5656; }

.car {
  padding: 56px 0 138px 0;
  min-height: 898px;
  background: url(../img/Bg/w.png) center center/cover no-repeat; }
  .car .label {
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #ffffff;
    color: #000000;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center; }
  .car .title {
    margin-bottom: 0;
    margin-top: 27px;
    color: #ffffff;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }
  .car .subtitle {
    margin-top: 1px;
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    text-align: center; }
  .car_img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 33px; }
  .car_text {
    margin-top: 18px;
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    text-align: center;
    color: #222222; }

.require {
  padding: 68px 0 50px 0; }
  .require .label {
    margin: 0 auto;
    height: 24px;
    width: 112px;
    padding: 5px 12px;
    background-color: #000000;
    color: #ffffff;
    font-size: 11px;
    font-weight: 300;
    text-transform: uppercase;
    text-align: center; }
  .require .title {
    margin-bottom: 0;
    margin-top: 27px;
    color: #000000;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }
  .require_block {
    margin: 33px 0; }
    .require_block_nmb {
      margin-bottom: 0px; }
  .require_title {
    color: #1ca8c3;
    font-size: 22px;
    font-weight: 400; }
  .require_list {
    list-style: none;
    padding-left: 50px;
    margin-top: 22px; }
    .require_list li {
      position: relative;
      font-size: 17px;
      font-weight: 300;
      line-height: 24px;
      margin-bottom: 10px; }
      .require_list li:before {
        content: "";
        display: inline-block;
        position: absolute;
        left: -30px;
        top: 3px;
        width: 21px;
        height: 20px;
        background: url("../icons/Rectangle (1).png") center center/cover no-repeat; }
  .require_descr {
    font-weight: 300;
    font-size: 17px;
    line-height: 24px;
    color: #1CA8C3; }
  .require .warning .require_title {
    color: #FF5656; }
  .require .warning .require_list li:before {
    background: url("../icons/check_red 5.png") center center/cover no-repeat; }

.world {
  margin-bottom: 11px;
  padding: 46px 0 22px 0;
  height: 716px;
  background: url(../img/Bg/world_bg.jpg) center center/cover no-repeat; }
  .world .label {
    margin: 0 auto;
    height: 25px;
    width: 75px;
    padding: 5px 12px;
    background-color: #ffffff;
    color: #000000;
    font-size: 11px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center; }
  .world .title {
    margin-bottom: 0;
    margin-top: 26px;
    color: #ffffff;
    font-size: 38px;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center; }
  .world .subtitle {
    color: #ffffff;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center; }
  .world .watch {
    margin-top: 456px;
    font-weight: 400;
    font-size: 15px;
    text-transform: uppercase;
    text-align: center;
    color: #1FBAD6; }

.footer_divider {
  width: 299px;
  height: 4px;
  background-color: #1fbad6;
  margin: 0 auto; }
.footer_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 32px; }
.footer_wrapper > div {
  width: 33%; }
  .footer_wrapper > div:nth-child(3) {
    display: flex;
    justify-content: flex-end; }
.footer_social {
  width: 160px;
  display: flex;
  justify-content: space-between; }
  .footer_social_item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 4px;
    width: 32px;
    height: 32px;
    background-color: #070716;
    border-radius: 100%;
    color: #000000; }
    .footer_social_item i {
      color: #fff; }
.footer_links {
  width: 390px;
  margin: 0 auto; }
  .footer_links_main {
    display: flex;
    justify-content: space-between;
    padding: 0 10px; }
    .footer_links_main a {
      color: #070716;
      font-size: 15px;
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: none; }
  .footer_links_sub {
    display: flex;
    justify-content: space-between;
    margin-top: 10px; }
    .footer_links_sub a {
      color: #999999;
      font-size: 11px;
      font-weight: 300;
      text-transform: uppercase;
      text-decoration: none; }
  .footer_links_lang {
    display: block;
    margin: 0 auto;
    color: #1fbad6;
    font-size: 11px;
    font-weight: 400;
    margin-top: 19px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none; }

@media (max-width: 1200px) {
  .menu_item {
    padding-right: 20px !important; }
  .menu_link {
    font-size: 13px !important; }

  .promo_header {
    font-size: 50px !important; }

  .reason_blok {
    align-items: flex-start; }
  .reason_descr {
    width: 300px; }

  .footer_links {
    width: 375px;
    margin: 0 -16px; }
  .footer_mobile {
    width: 302px; }
    .footer_mobile img {
      width: 80%;
      margin-left: 40px; }

  .mobile_item {
    width: 298px; } }
@media (max-width: 991px) {
  .menu_item {
    padding-right: 8px !important; }
  .menu_link {
    font-size: 10px !important; }

  .subheader_logo img {
    width: 100% !important; }
  .subheader_official {
    font-size: 11px !important; }
  .subheader_phone {
    font-size: 18px !important; }
  .subheader_btn {
    width: 100% !important;
    height: 40px !important;
    margin-top: 21px !important; }

  .promo_header {
    font-size: 40px !important; }
  .promo_subheader {
    font-size: 30px !important; }

  .reason_blok {
    flex-direction: column;
    align-items: center; }
  .reason_around {
    margin-right: 0; }
  .reason_descr {
    margin-top: 20px;
    width: 310px; }

  .mobile_item {
    width: 231px; }

  .footer_wrapper {
    flex-direction: column; }
  .footer_wrapper > div {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }
    .footer_wrapper > div:nth-child(1) {
      width: 100%; }
    .footer_wrapper > div:nth-child(3) {
      width: 100%;
      justify-content: center; } }
@media (max-width: 767px) {
  .menu {
    position: fixed !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    top: 0 !important;
    left: -100% !important;
    width: 50% !important;
    height: 100vh !important;
    padding: 20px 15px !important;
    background-color: rgba(0, 0, 0, 0.8) !important;
    transition: 0.6s all !important;
    z-index: 1 !important; }
    .menu_active {
      left: 0 !important; }
    .menu_item {
      padding-right: 0 !important;
      border: none !important;
      margin: 10px 0 !important; }
    .menu_link {
      font-size: 20px !important; }

  .hamburger {
    display: block;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    width: 26px; }
    .hamburger span {
      display: block;
      height: 2px;
      width: 100%;
      background-color: white;
      margin-bottom: 3px;
      transition: 0.5s all; }
    .hamburger_active span {
      margin-bottom: -2px; }
      .hamburger_active span:nth-child(1) {
        transform: translateY(3px) rotate(-45deg); }
      .hamburger_active span:nth-child(2) {
        display: none; }
      .hamburger_active span:nth-child(3) {
        transform: translateY(3px) rotate(45deg); }

  .xs-hidden {
    display: none !important; }

  .xs-visible {
    display: block !important; }

  .subheader_phone {
    margin-top: 10px;
    display: block;
    color: #ffffff !important;
    font-size: 15px !important;
    font-weight: 400 !important;
    text-transform: uppercase !important;
    border: none !important;
    text-align: center !important; }
  .subheader_btn {
    width: 200px !important;
    height: 40px !important;
    margin: 0 auto !important;
    margin-top: 10px !important;
    display: block !important; }

  .promo_header {
    line-height: 45px !important; }

  .car_img img {
    width: 100%; } }
@media (max-width: 575px) {
  .subheader {
    height: 60px !important; }
    .subheader_official {
      display: none !important; }
    .subheader_logo {
      margin-top: 16px !important; }
    .subheader_phone {
      font-size: 12px !important;
      font-weight: 400 !important;
      text-transform: uppercase !important;
      margin-top: 11px !important; }
    .subheader_btn {
      margin-top: 6px !important;
      width: 110px !important;
      height: 22px !important;
      font-size: 10px !important; }

  .promo {
    min-height: 400px !important;
    padding: 93px 0 35px 0 !important; }
    .promo_descr {
      display: none !important; }
    .promo_header {
      font-size: 30px !important;
      line-height: 35px !important; }
    .promo_subheader {
      font-size: 20px !important;
      margin-top: 15px !important;
      padding: 0 10px !important; }
    .promo_btn {
      width: 210px !important;
      height: 50px !important;
      margin-top: 72px !important; }

  .reason {
    padding: 22px 0 36px 0; }
    .reason_blcok {
      margin-top: 26px; }
    .reason_title {
      color: #1EACC7;
      font-size: 16px;
      margin-top: 15px;
      line-height: 16px; }
    .reason_around {
      width: 100px;
      height: 100px; }

  footer {
    padding: 25px 0 20px 0; }

  .footer_divider {
    width: 253px;
    margin: 0 auto; }
  .footer_wrapper {
    padding-top: 22px; }
  .footer_wrapper > div {
    margin-bottom: 20px; }
    .footer_wrapper > div:nth-child(1) {
      order: 2; }
    .footer_wrapper > div:nth-child(2) {
      order: 1; }
    .footer_wrapper > div:nth-child(3) {
      order: 3; }
  .footer_links_main {
    padding: 0;
    font-size: 14px; }
  .footer_links_sub {
    flex-wrap: wrap;
    justify-content: center; }
    .footer_links_sub a {
      margin: 0 7px; }
  .footer_links_lang {
    margin-top: 10px; } }
@media (max-width: 332px) {
  .world .watch {
    margin-top: 365px; } }

/*# sourceMappingURL=style.css.map */
